appnope
attrs
backcall
beautifulsoup4
bleach
boto3
botocore
certifi
chardet
cycler
decorator
defusedxml
docutils
entrypoints
future
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
jedi
Jinja2
jmespath
json5
jsonschema
jupyter-client
jupyter-core
jupyterlab
jupyterlab-server
kiwisolver
MarkupSafe
matplotlib
mistune
nbconvert
nbformat
notebook
numpy
pandas
pandocfilters
parso
pexpect
pickleshare
prometheus-client
prompt-toolkit
ptyprocess
Pygments
PyMySQL
pyparsing
pyrsistent
python-dateutil
python-lambda-local
python-whois
pytz
pyzmq
requests
s3transfer
Send2Trash
six
slackbot
slacker
soupsieve
terminado
testpath
tornado
traitlets
urllib3
wcwidth
webencodings
websocket-client
zipp